{% extends "base.html" %}
{% block title %} Watchlist {% endblock %}

{% block content %}
<h1 align="center">Watchlist</h1>
<br />
<br />
<div class="container">
    <div class="row mb-4">
        <div class="col-md-2">
            <label for="symbol">Enter Ticker: </label>
        </div>
        <div class="col-md-6">
            <form method="POST" action="">
                <div class="row">
                    <div class="col-md-6">
                        <input type="text" name="symbol" id="symbol" class="form-control" required ></input>
                    </div>
                    <div class="col-md-4">
                        <button type="submit" class="btn btn-primary">Add To Watchlist</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-6">
            <ul class="list-group list-group-flush">
                {% for stock in user.stocks_watchlist %}
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col font-weight-bold" >
                                <a class="col list-group-item list-group-item-action" href="/stock/{{stock.symbol}}">{{stock.symbol}}</a>
                            </div>
                            <div class="col"> {{stock.price | round(2)}}$ </div>
                            <div class="col"> Price Target : {{stock.price_target}}</div>
                            <button type="button" class="close" onClick="deleteWatchlist({{ stock.id }})">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

{% endblock %}