{% extends "base.html" %}
{% block title %} Portfolio {% endblock %}

{% block content %}

<h1 align="center">Portfolio</h1>
<br />
<div class="container-fluid">
    <div class="row mb-4">
        <div class="col-md-2">
            <label for="symbol">Enter Ticker: </label>
        </div>
        <div class="col-6">
            <form method="POST" action="">
                <div class="row">
                    <div class="col-4">
                        <input type="text" name="symbol" id="symbol" class="form-control" required ></input>
                    </div>
                    <div class="col-4">
                        <button type="submit" name="add_to_portfolio_button" class="btn btn-primary">Add To Portfolio</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col">
            <div class="row">
                <div class="col text-right" style="font-size: 24x;"> Current Value: {{total_value}}$ </div>
                <div class="col text-right" style="font-size: 20px;"> Initial Value: {{initial_value}}$ </div>
            </div>
            <br />
            <div class="row">
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-9">
            <ul class="list-group list-group-flush">
    {% for stock in user.stocks_portfolio %}
                <li class="list-group-item">

                    <div class="row align-items-center justify-content-left ">
                            <div class="col-1 font-weight-bold" >
                                <a class="list-group-item list-group-item-action" href="/stock/{{stock.symbol}}">{{stock.symbol}}</a>
                            </div>
                            <div class="col-2 mb-0 font-weight-bold "> <i>{{stock.current_price | round(2)}}$</i> </div>
                    </div>
                    <div class="row">
                            <div class="col">
                            <form method="POST" action="">
                            <input type="hidden" name="stock_id" value="{{ stock.id }}">
                                <div class="row">
                                    <div class="col-2 text-left" style="font-size: 14px;"> <label for="price_purchased">Price</label> </div>
                                    <div class="col-2 text-left" style="font-size: 14px;"> <label for="amount_purchased">Amount</label> </div>
                                    <div class="col-2 text-left" style="font-size: 14px;"> <label for="date_purchased">Date</label> </div>
                                    <div class="col-2 text-left"></div>
                                </div>
                                <div class="row">
                                    <div class="col-2 mb-0 text-left"><input type="text" class="form-control" id="price_purchased" name="price_purchased" placeholder="Price"></div>
                                    <div class="col-2 mb-0 text-left"><input type="text" class="form-control" id="amount_purchased" name="amount_purchased" placeholder="Amount"></div>
                                    <div class="col-2 mb-0 text-left"><input type="text" class="form-control" id="date_purchased" name="date_purchased" placeholder="Date"></div>
                                    <div class="col-2 mb-0 text-left"><button type="submit" name="add_holding_button" class="btn btn-primary">Add</button></div>
                                    {% if stock.amount_stocks>0 %}

                                    {% endif %}

                                    <div class="col"></div>
                                </div>
                            </form>
                            </div>

                       <button type="button" class="close" onClick="deletePortfolio({{ stock.id }})">
                            <span aria-hidden="true">&times;</span>
                        </button>

                    </div>
        {% for holding in stock.holdings %}
        {% set purchased = holding.amount_stocks * holding.purchased_price %}
        {% set current_value = holding.amount_stocks * stock.current_price %}
        {% set gain_or_loss_percentage = 100 * (stock.current_price - holding.purchased_price) / holding.purchased_price %}

    <div class="row mt-2">
        <div class="col-2 text-left" style="font-size: 14px;"> price: {{ holding.purchased_price }}$ </div>
        <div class="col-2 text-left" style="font-size: 14px;"> amount: {{ holding.amount_stocks }} </div>
        <div class="col-2 text-left" style="font-size: 14px;"> total: {{ purchased }}$ </div>
        <div class="col-2 text-left" style="font-size: 14px;"> market: {{ current_value | int }}$ </div>
        <div class="col-2 text-left" style="font-size: 14px; {{ determine_style(gain_or_loss_percentage) }};">
            Gain/Loss: {{ (current_value - purchased) | int }}$
        </div>
        <div class="col-1 text-left" style="font-size: 14px; {{ determine_style(gain_or_loss_percentage) }};">
            {{ gain_or_loss_percentage | round(2) }}%
        </div>

        <button type="button" class="close" onClick="deleteHolding({{ holding.id }})">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
        {% endfor %}

    {% if stock.amount_stocks>0 %}
    {% set gain_or_loss_percentage_stock = 100 * (stock.current_price - stock.average_price) / stock.average_price %}

    <li>
    <div class="row">
        <div class="col-2 text-left" style="font-size: 18px;"> AVG Price:</br> {{stock.average_price}}$ </div>
        <div class="col-2 text-left" style="font-size: 18px;"> Shares:</br> {{stock.amount_stocks}} </div>
        <div class="col-2 text-left" style="font-size: 18px;"> Total:</br> {{(stock.average_price*stock.amount_stocks) | int}}$ </div>
        <div class="col-2 text-left" style="font-size: 18px;"> Market:</br> {{(stock.current_price*stock.amount_stocks) | int}}$ </div>
        <div class="col-2 text-left" style="font-size: 18px; {{ determine_style(gain_or_loss_percentage_stock) }};">
            Gain/Loss: {{(stock.amount_stocks * stock.current_price - stock.amount_stocks * stock.average_price) | int}}$ </div>
                <div class="col-2 text-left" style="font-size: 18px; {{ determine_style(gain_or_loss_percentage_stock) }};">
            </br>{{ gain_or_loss_percentage_stock | round(2) }}% </div>
    </div>
    </li>
    {% endif %}

                </li>

    {% endfor %}
            </ul>
    </div>
        <div class="col-3">
            <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
            <canvas id="allocation-chart" width="300" height="300"></canvas>
            <script>
                var labels = {{ stock_names | tojson }}
                var data = {{ stock_allocations | tojson }}
                var colors = {{ colors | tojson }}

              // JavaScript code to generate the pie chart
              var ctx = document.getElementById('allocation-chart').getContext('2d');
              var data = {
                labels: labels,
                datasets: [{
                  data: data, // Allocation percentages
                  backgroundColor: colors, // Colors for each segment
                }]
              };
              var myPieChart = new Chart(ctx, {
                type: 'pie',
                data: data,
              });
            </script>
        </div>
    </div>
</div>


{% endblock %}