{% extends "base.html" %}
{% block title %} Stock Overview {% endblock %}

{% block content %}
<br />
<div class="container-fluid">
<!--    HEAD    -->
    <div class="row mb-4 font-weight-bold" align="center">
        <div class="col-md-10" align="center" style="font-size: 24px;">{{symbol}}
            <span style="font-size: 16px;">{{dcf['Stock Price']}} $</span>
        </div>
        <div class="col-md-2" align="right">
            <a class="btn btn-primary" href="/stock/{{symbol}}/calculations">Calculations</a>
        </div>

    </div>
    <br />
    <form method="get" action="">
        <!--  buttons between statements  -->
        <div class="row mb-4 mt-4" align="center">
            <div class="col-2">
                <button class="btn btn-info text-left" type="submit" id="income_statement" name="selected_statement" value="income-statement">Income Statement</button>
            </div>
            <div class="col-2">
                <button class="btn btn-info text-left" type="submit" id="balance_sheet" name="selected_statement" value="balance-sheet-statement">Balance Sheet</button>
            </div>
            <div class="col-2">
                <button class="btn btn-info text-left" type="submit" id="cash_flow" name="selected_statement" value="cash-flow-statement">Cash Flow</button>
            </div>
            <div class="col-2">
                <button class="btn btn-primary text-right" type="submit" id="stats" name="selected_statement" value="stats">Statistics</button>
            </div>
            <div class="col-2"></div>
            <div class="col-2"> DCF : {{ ((dcf['dcf']) | round(1)) if ('dcf' in dcf) else 'NaN' }}</div>
        </div>
            <!--  buttons between annual/quarterly  -->
        {% if not stats %}
        <div class="row mb-4">
            <div class="col-md-1">
                <button class="btn btn-secondary" type="submit" id="annual" name="selected_period" value="annual"> Annual </button>
            </div>
            <div class="col-md-1">
                <button class="btn btn-secondary" type="submit" id="quarterly" name="selected_period" value="quarter"> Quarterly </button>
            </div>
        </div>
        {% endif %}
            <input type="hidden" name="selected_statement" value="{{ request.args.get('selected_statement', 'income-statement') }}">
            <input type="hidden" name="selected_period" value="{{ request.args.get('selected_period', 'annual') }}">
    </form>

<!--    Period    -->
<div class="row mb-4">
    <div class="container mb-4" id="data_display">
        <div class="row font-weight-bold mb-4" align="left" >
            {% if stats == False %}
                <div class="col"></div>
                {% for i in range(num_periods) %}
                        <div class="col"> {{stock_info[i]['date']}} </div>
                {% endfor %}
            {% endif %}

        </div>

        <!--  parameters and values  -->


    {% if selected_statement == 'income-statement' %}

        <div class="row mb-4">
            <div class="col-sm font-weight-bold"> Revenue </div>
            {% for i in range(num_periods) %}
               {% if 'revenue' in stock_info[i] %}
                    <div class="col">{{ stock_info[i].get('revenue') / 1000 }}</div>
                {% else %}
                    <div class="col">NaN</div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="row mb-4">
            <div class="col-sm font-weight-bold"> Cost Of Revenue </div>
            {% for i in range(num_periods) %}
                {% if 'costOfRevenue' in stock_info[i] %}
                    <div class="col">{{ stock_info[i].get('costOfRevenue') / 1000 }}</div>
                {% else %}
                    <div class="col">NaN</div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="row mb-4">
            <div class="col-sm font-weight-bold"> Gross Profit </div>
            {% for i in range(num_periods) %}
                {% if 'grossProfit' in stock_info[i] %}
                    <div class="col">{{ stock_info[i].get('grossProfit') / 1000 }}</div>
                {% else %}
                    <div class="col">NaN</div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="row mb-4">
            <div class="col-sm font-weight-bold"> EBITDA </div>
            {% for i in range(num_periods) %}
                {% if 'ebitda' in stock_info[i] %}
                    <div class="col">{{ stock_info[i].get('ebitda') / 1000 }}</div>
                {% else %}
                    <div class="col">NaN</div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="row mb-4">
            <div class="col-sm font-weight-bold"> Operating Expenses </div>
            {% for i in range(num_periods) %}
                {% if 'operatingExpenses' in stock_info[i] %}
                    <div class="col">{{ stock_info[i].get('operatingExpenses') / 1000 }}</div>
                {% else %}
                    <div class="col">NaN</div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="row mb-4">
            <div class="col-sm font-weight-bold"> Net Income/Earnings </div>
            {% for i in range(num_periods) %}
                {% if 'netIncome' in stock_info[i] %}
                    <div class="col">{{ stock_info[i].get('netIncome') / 1000 }}</div>
                {% else %}
                    <div class="col">NaN</div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="row mb-4">
            <div class="col-sm font-weight-bold"> Operating Income </div>
            {% for i in range(num_periods) %}
                {% if 'operatingIncome' in stock_info[i] %}
                    <div class="col">{{ stock_info[i].get('operatingIncome') / 1000 }}</div>
                {% else %}
                    <div class="col">NaN</div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="row mb-4">
            <div class="col-sm font-weight-bold"> EPS </div>
            {% for i in range(num_periods) %}
                {% if 'eps' in stock_info[i] %}
                    <div class="col">{{ (stock_info[i].get('eps')) }}</div>
                {% else %}
                    <div class="col">NaN</div>
                {% endif %}
            {% endfor %}
        </div>

    {% elif selected_statement == 'balance-sheet-statement' %}

        <div class="row mb-4">
            <div class="col-sm font-weight-bold"> Total Assets </div>
            {% for i in range(num_periods) %}
                {% if 'totalAssets' in stock_info[i] %}
                    <div class="col">{{ stock_info[i].get('totalAssets') / 1000 }}</div>
                {% else %}
                    <div class="col">NaN</div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="row mb-4">
            <div class="col-sm font-weight-bold"> Current Assets </div>
            {% for i in range(num_periods) %}
                {% if 'totalCurrentAssets' in stock_info[i] %}
                    <div class="col">{{ stock_info[i].get('totalCurrentAssets') / 1000 }}</div>
                {% else %}
                    <div class="col">NaN</div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="row mb-4">
            <div class="col-sm font-weight-bold"> Total Cash </div>
            {% for i in range(num_periods) %}
                {% if 'cashAndCashEquivalents' in stock_info[i] %}
                    <div class="col">{{ stock_info[i].get('cashAndCashEquivalents') / 1000 }}</div>
                {% else %}
                    <div class="col">NaN</div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="row mb-4">
            <div class="col-sm font-weight-bold"> Non Current Assets </div>
            {% for i in range(num_periods) %}
                {% if 'totalNonCurrentAssets' in stock_info[i] %}
                    <div class="col">{{ stock_info[i].get('totalNonCurrentAssets') / 1000 }}</div>
                {% else %}
                    <div class="col">NaN</div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="row mb-4">
            <div class="col-sm font-weight-bold"> Total Liabilities </div>
            {% for i in range(num_periods) %}
                {% if 'totalLiabilities' in stock_info[i] %}
                    <div class="col">{{ stock_info[i].get('totalLiabilities') / 1000 }}</div>
                {% else %}
                    <div class="col">NaN</div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="row mb-4">
            <div class="col-sm font-weight-bold"> Current Liabilities </div>
            {% for i in range(num_periods) %}
                {% if 'totalCurrentLiabilities' in stock_info[i] %}
                    <div class="col">{{ stock_info[i].get('totalCurrentLiabilities') / 1000 }}</div>
                {% else %}
                    <div class="col">NaN</div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="row mb-4">
            <div class="col-sm font-weight-bold"> Long Term Debt </div>
            {% for i in range(num_periods) %}
                {% if 'longTermDebt' in stock_info[i] %}
                    <div class="col">{{ stock_info[i].get('longTermDebt') / 1000 }}</div>
                {% else %}
                    <div class="col">NaN</div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="row mb-4">
            <div class="col-sm font-weight-bold"> Non Current Liabilities </div>
            {% for i in range(num_periods) %}
                {% if 'totalNonCurrentLiabilities' in stock_info[i] %}
                    <div class="col">{{ stock_info[i].get('totalNonCurrentLiabilities') / 1000 }}</div>
                {% else %}
                    <div class="col">NaN</div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="row mb-4">
            <div class="col-sm font-weight-bold"> Liabilities and Equity </div>
            {% for i in range(num_periods) %}
                {% if 'totalLiabilitiesAndTotalEquity' in stock_info[i] %}
                    <div class="col">{{ stock_info[i].get('totalLiabilitiesAndTotalEquity') / 1000 }}</div>
                {% else %}
                    <div class="col">NaN</div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="row mb-4">
            <div class="col-sm font-weight-bold"> Shares Outstanding </div>
            {% for i in range(num_periods) %}
                {% if 'commonStock' in stock_info[i] %}
                    <div class="col">{{ stock_info[i].get('commonStock') / 1000 }}</div>
                {% else %}
                    <div class="col">NaN</div>
                {% endif %}
            {% endfor %}
        </div>

    {% elif selected_statement == 'cash-flow-statement' %}

        <div class="row mb-4">
            <div class="col-sm font-weight-bold"> Cash From Operating Activities </div>
            {% for i in range(num_periods) %}
                {% if 'operatingCashFlow' in stock_info[i] %}
                    <div class="col">{{ stock_info[i].get('operatingCashFlow') / 1000 }}</div>
                {% else %}
                    <div class="col">NaN</div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="row mb-4">
            <div class="col-sm font-weight-bold"> Net Income </div>
            {% for i in range(num_periods) %}
                {% if 'netIncome' in stock_info[i] %}
                    <div class="col">{{ stock_info[i].get('netIncome') / 1000 }}</div>
                {% else %}
                    <div class="col">NaN</div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="row mb-4">
            <div class="col-sm font-weight-bold"> Cash From Investing Activities </div>
            {% for i in range(num_periods) %}
                {% if 'netCashUsedForInvestingActivites' in stock_info[i] %}
                    <div class="col">{{ stock_info[i].get('netCashUsedForInvestingActivites') / 1000 }}</div>
                {% else %}
                    <div class="col">NaN</div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="row mb-4">
            <div class="col-sm font-weight-bold"> Cash From financing Activities </div>
            {% for i in range(num_periods) %}
                {% if 'netCashUsedProvidedByFinancingActivities' in stock_info[i] %}
                    <div class="col">{{ stock_info[i].get('netCashUsedProvidedByFinancingActivities') / 1000 }}</div>
                {% else %}
                    <div class="col">NaN</div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="row mb-4">
            <div class="col-sm font-weight-bold"> Free Cash Flow </div>
            {% for i in range(num_periods) %}
                {% if 'freeCashFlow' in stock_info[i] %}
                    <div class="col">{{ stock_info[i].get('freeCashFlow') / 1000 }}</div>
                {% else %}
                    <div class="col">NaN</div>
                {% endif %}
            {% endfor %}
        </div>

    {% elif selected_statement == 'stats' %}
        <div class="row mb-4">
            <div class="col-sm font-weight-bold"> Industry </div>
            <div class="col">{{ profile['industry'] }}</div>

            <div class="col-sm font-weight-bold"> Trailing Eps  </div>
            <div class="col">  {{ ((stock_info['eps']) | round(1)) if ('eps' in stock_info) else 'NaN' }}</div>
        </div>
        <div class="row mb-4">
            <div class="col-sm font-weight-bold"> Sector </div>
            <div class="col">{{ profile['sector'] }}</div>

            <div class="col-sm font-weight-bold"> Exchange  </div>
            <div class="col">  {{ profile['exchange']}}</div>
        </div>
        <div class="row mb-4">
            <div class="col-sm font-weight-bold"> Market Cap  </div>
            <div class="col">  {{ ((profile['mktCap'] / 1000)) if ('mktCap' in profile) else 'NaN' }}</div>

            <div class="col-sm font-weight-bold"> Payout  </div>
            <div class="col">  {{ ((key_metrics['payoutRatioTTM']) | round(1)) if ('payoutRatioTTM' in key_metrics) else 'NaN' }}</div>
        </div>
        <div class="row mb-4">
            <div class="col-sm font-weight-bold"> Enterprise Value  </div>
            <div class="col">  {{ ((key_metrics['enterpriseValueTTM'] / 1000)) if ('enterpriseValueTTM' in key_metrics) else 'NaN' }}</div>

            <div class="col-sm font-weight-bold"> ROIC  </div>
            <div class="col">  {{ ((key_metrics['roicTTM']*100) | round(1)) if ('roicTTM' in key_metrics) else 'NaN' }}</div>
        </div>
        <div class="row mb-4">
            <div class="col-sm font-weight-bold"> Current Ratio </div>
            <div class="col">  {{ ((key_metrics['currentRatioTTM']) | round(1)) if ('currentRatioTTM' in key_metrics) else 'NaN' }}</div>

            <div class="col-sm font-weight-bold"> ROE  </div>
            <div class="col">  {{ ((key_metrics['roeTTM']*100) | round(1)) if ('roeTTM' in key_metrics) else 'NaN' }}</div>
        </div>
        <div class="row mb-4">
            <div class="col-sm font-weight-bold"> Trailing PE </div>
            <div class="col">  {{ ((key_metrics['peRatioTTM']) | round(1)) if ('peRatioTTM' in key_metrics) else 'NaN' }}</div>

            <div class="col-sm font-weight-bold"> Gross Margins  </div>
            <div class="col">  {{ ((ratios['grossProfitMarginTTM']*100) | round(1)) if ('grossProfitMarginTTM' in ratios) else 'NaN' }}</div>
        </div>
        <div class="row mb-4">
            <div class="col-sm font-weight-bold"> PEG </div>
            <div class="col">  {{ ((ratios['pegRatioTTM']) | round(1)) if ('pegRatioTTM' in ratios) else 'NaN' }}</div>

            <div class="col-sm font-weight-bold"> Ebitda Margins  </div>
            <div class="col">  {{ ((stock_info['ebitdaratio'] * 100) | round(1)) if ('ebitdaratio' in stock_info) else 'NaN' }}</div>
        </div>
        <div class="row mb-4">
            <div class="col-sm font-weight-bold"> Shares Outstanding  </div>
            <div class="col">  {{ ((stock_info['weightedAverageShsOut'] / 1000)) if ('weightedAverageShsOut' in stock_info) else 'NaN' }}</div>

            <div class="col-sm font-weight-bold"> P/OCF  </div>
            <div class="col">  {{ ((ratios['priceToOperatingCashFlowsRatioTTM']) | round(1)) if ('priceToOperatingCashFlowsRatioTTM' in ratios) else 'NaN' }}</div>
        </div>
        <div class="row mb-4">
            <div class="col-sm font-weight-bold"> P/B  </div>
            <div class="col">  {{ ((ratios['priceBookValueRatioTTM'] * 100) | round(1)) if ('priceBookValueRatioTTM' in ratios) else 'NaN' }}</div>

            <div class="col-sm font-weight-bold"> Net Margins  </div>
            <div class="col">  {{ ((ratios['netProfitMarginTTM'] * 100) | round(1)) if ('netProfitMarginTTM' in ratios) else 'NaN' }}</div>
        </div>


    {% endif %}
</div>
    {% if selected_statement == 'stats' %}
    <div class="row mb-4 font-weight-bold" align="center">
        <div class="col" align="center">{{profile['description']}}
        </div>
    </div>
    {% endif %}

</div>
</div>


{% endblock %}